<template>
    <div>
        Grading
        <div v-if="IsCreated === false">
        <p>Bad Grading attempt</p>
        </div>
        <p>Subject: {{userSubject.subject.subjectName}}</p>
        <p>Student: {{userSubject.profile.lastName}}</p>
        <div class="form-group">
            <label
                for="Input_ItemDescription"
            >Description</label>
            <textarea
                id="w3review"
                name="w3review"
                rows="4"
                cols="50"
                v-model="grade.description"
                class="form-control"
                type="itemDescription"
            ></textarea>
        </div>
        <div>Grade</div>
            <select
                v-model="grade.possibleGradeId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="possibleGrade in possibleGrades"
                    :key="possibleGrade.id"
                    v-bind:value="possibleGrade.id"
                >{{possibleGrade.gradeName}}</option>
            </select>
        <div>Type</div>
            <select
                v-model="grade.gradeTypeId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="gradeType in gradeTypes"
                    :key="gradeType.id"
                    v-bind:value="gradeType.id"
                >{{gradeType.gradeTypeName}}</option>
            </select>
        <div class="form-group">
                <button @click="createOnClick($event)" class="btn btn-primary">Grade</button>
            </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import JwtDecode from "jwt-decode";
import store from "../../store";
import { ISubjects } from "@/domain/ISubjects";
import { IProfile } from "@/domain/IProfile";
import { SubjectApi } from "@/services/SubjectApi";
import { IUserSubjectDTO } from "@/types/IUserSubjectDTO";
import { uuid } from "vue-uuid";
import { IUserSubject } from "@/domain/IUserSubject";
import { IPossibleGrades } from "@/domain/IPossibleGrades";
import { IGradeType } from "@/domain/IGradeType";
import { IGradeDTO } from "@/types/IGradeDTO";

@Component
export default class MarkCreate extends Vue {
    private user = "";
    private userId = "";
    private admin = false;
    private student = false;
    private teacher = false;
    private acceptedParticipants = 0;
    private IsCreated: null | boolean = null;

    private grade: IGradeDTO = {
        description: "",
        possibleGradeId: "",
        appUserId: "",
        gradeSubjectId: this.userSubject.subject.id,
        profileId: this.userSubject.profile.id,
        gradeTypeId: "",
        id: ""
    };

    get userSubject(): IUserSubject {
        return store.state.oneUserSubject;
    }

    get profile(): IProfile {
        return store.state.profile;
    }

    get subject(): ISubjects {
        return store.state.subject;
    }

    get possibleGrades(): IPossibleGrades[] {
        return store.state.possibleGrades;
    }

    get gradeTypes(): IGradeType[] {
        return store.state.gradeTypes;
    }

    get initialUserSubjects(): IUserSubject[] {
        return store.state.userSubjects;
    }

    async createOnClick(): Promise<void> {
        this.grade.id = uuid.v5(uuid.v1(), uuid.v4());
        this.grade.appUserId = this.userId;
        console.log(JSON.stringify(this.grade))
        await store
            .dispatch("createUserGrade", this.grade)
            .then(async (isCreated: boolean) => {
                if (isCreated) {
                    this.IsCreated = true;
                    if (this.grade.gradeTypeId === "455ef707-1e73-4cac-85a7-5efc9b848352") {
                        await store.dispatch("deleteUserSubject", this.userSubject.id)
                    }
                    await router.push("/subject/details/" + this.userSubject.subject.id);
                } else {
                    this.IsCreated = false;
                }
            });
    }

    @Prop()
    private id!: string;

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    async beforeMount(): Promise<void> {
        console.log("beforeMount");
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.user =
                decoded[
                    "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                ];
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
            if (this.user === undefined) {
                this.user = "";
            }
            this.admin = this.user.includes("admin");
        }
        await store.dispatch("getProfiles");
        await store.dispatch("getSubjects");
        await store.dispatch("getGradeTypes");
        await store.dispatch("getUserSubjects");
        await store.dispatch("getOneUserSubject", this.id);
        await store.dispatch("getPossibleGrades");
    }

    async mounted(): Promise<void> {
        console.log("mounted");
        await store.dispatch("getOneSubject", this.userSubject.subjectId);
        await store.dispatch("getOneProfile", this.userSubject.profileId);
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
