<template>
    <div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >Grade Types</button>
                    </h2>
                </div>
                <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <div
                            v-for="gradeType in gradeTypes"
                            :key="gradeType.id"
                            class="custom-control custom-checkbox row"
                        >
                            <input
                                :value="gradeType.id"
                                v-model="gradeTypesToSearch"
                                type="checkbox"
                                class="custom-control-input"
                                :id="gradeType.id"
                                checked
                            />
                            <label
                                class="custom-control-label"
                                :for="gradeType.id"
                            >{{gradeType.gradeTypeName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne"
                        >Grades</button>
                    </h2>
                </div>
                <div
                    id="collapseOne"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <div
                            v-for="possibleGrade in possibleGrades"
                            :key="possibleGrade.id"
                            class="custom-control custom-checkbox row"
                        >
                            <input
                                :value="possibleGrade.id"
                                v-model="gradeToSearch"
                                type="checkbox"
                                class="custom-control-input"
                                :id="possibleGrade.id"
                                checked
                            />
                            <label
                                class="custom-control-label"
                                :for="possibleGrade.id"
                            >{{possibleGrade.gradeName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Grade</th>
                    <th>GradeType</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="grade in grades" :key="grade.id">
                    <td>{{grade.possibleGrade}}</td>
                    <td>{{grade.gradeType}}</td>
                    <td>{{grade.gradeSubject}}</td>
                    <td>{{grade.description}}</td>
                </tr>
                <div>Average grade: {{avarageGrade}} / 5</div>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import JwtDecode from "jwt-decode";
import store from "../../store";
import { ISubjects } from '@/domain/ISubjects';
import { IProfile } from '@/domain/IProfile';
import { SubjectApi } from '@/services/SubjectApi';
import { IUserSubjectDTO } from '@/types/IUserSubjectDTO';
import { uuid } from 'vue-uuid';
import { IUserSubject } from '@/domain/IUserSubject';
import { IPossibleGrades } from '@/domain/IPossibleGrades';
import { IGradeType } from '@/domain/IGradeType';
import { IGradeDTO } from '@/types/IGradeDTO';
import { IGrade } from '@/domain/IGrade';

@Component
export default class SubjectMark extends Vue {
    private user = "";
    private userId = "";
    private admin = false;
    private student = false;
    private teacher = false;
    private gradeTypesToSearch: Array<string> = [];
    private subjectsToSearch: Array<string> = [];
    private gradeToSearch: Array<string> = [];
    private acceptedParticipants = 0;
    private filtered: IGrade[] = []
    private avarageGrade = 0.0;

    get userSubject(): IUserSubject {
        return store.state.oneUserSubject;
    }

    get profile(): IProfile {
        return store.state.profile;
    }

    get subject(): ISubjects {
        return store.state.subject;
    }

    get grades(): IGrade[] {
        this.avarageGrade = 0.0;
        let grades = this.profile.grades.filter(grade => { return grade.gradeSubjectId.includes(this.subject.id) })
        if (this.gradeTypesToSearch.length !== 0) {
            grades = grades.filter(grade => this.gradeTypesToSearch.includes(grade.gradeTypeId))
        }
        if (this.gradeToSearch.length !== 0) {
            grades = grades.filter(grade => this.gradeToSearch.includes(grade.possibleGradeId))
        }
        for (const grade of grades) {
            this.avarageGrade += parseFloat(grade.possibleGrade);
        }
        this.avarageGrade =
            Math.round((this.avarageGrade / grades.length) * 100) / 100;
        return grades
    }

    get initialUserSubjects(): IUserSubject[] {
        return store.state.userSubjects;
    }

    get gradeTypes(): IGradeType[] {
        return store.state.gradeTypes;
    }

    get possibleGrades(): IPossibleGrades[] {
        return store.state.possibleGrades;
    }

    @Prop()
    private id!: string;

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    async beforeMount(): Promise<void> {
        console.log("beforeMount");
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.user =
                decoded[
                    "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                ];
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
            if (this.user === undefined) {
                this.user = "";
            }
            this.admin = this.user.includes("admin");
        }
        await store.dispatch("getProfiles");
        await store.dispatch("getSubjects");
        await store.dispatch("getUserSubjects");
        await store.dispatch("getPossibleGrades");
        await store.dispatch("getGradeTypes");
        await store.dispatch("getGrades");
    }

    async mounted(): Promise<void> {
        console.log("mounted");
        await store.dispatch("getOneUserSubject", this.id);
        await store.dispatch("getOneSubject", this.userSubject.subjectId);
        await store.dispatch("getOneProfile", this.userSubject.profileId);
        for (const grade of this.grades) {
            this.avarageGrade += parseFloat(grade.possibleGrade);
        }
        this.avarageGrade = Math.round((this.avarageGrade / this.grades.length) * 100) / 100;
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
