﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Search Game</h1>
    
    <h4>Backend</h4>
    <p>Read the backend <a href="/swagger/">RESTful api docs!</a></p>
    
    <h4>Frontend</h4>
    <p><a href="http://game-search.azurewebsites.net/">Web done in VUE!</a></p>
</div>
