<template>
    <div class="row">
        <div class="col-md-6">
            <h4>Registration.</h4>
            <h2 v-if="registrationWasOk === false">Bad register attempt</h2>
            <hr />
            <div class="form-group">
                <label for="Input_Email">Email</label>
                <input
                    v-model="registerInfo.email"
                    class="form-control"
                    type="email"
                    id="Input_Email"
                />
            </div>
            <div class="form-group">
                <label for="Input_Password">Password</label>
                <input
                    v-model="registerInfo.password"
                    class="form-control"
                    type="password"
                    id="Input_Password"
                />
            </div>
            <div class="form-group">
                <label for="Input_FirstName">FirstName</label>
                <input
                    v-model="registerInfo.FirstName"
                    class="form-control"
                    type="firstName"
                    id="Input_FirstName"
                />
            </div>
            <div class="form-group">
                <label for="Input_LastName">Lastname</label>
                <input
                    v-model="registerInfo.LastName"
                    class="form-control"
                    type="lastName"
                    id="Input_LastName"
                />
            </div>
            <div class="form-group">
                <button @click="registerOnClick($event)" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { IRegisterDTO } from "@/types/IRegisterDTO";
import store from "../../store";
import router from "../../router";
import { ILoginDTO } from "@/types/ILoginDTO";
import JwtDecode from 'jwt-decode';
import { uuid } from 'vue-uuid';

@Component
export default class RegisterIndex extends Vue {
    private registerInfo: IRegisterDTO = {
        email: "",
        password: "",
        firstName: "FirstName",
        lastName: "LastName"
    };

    private userId = "";

    private loginInfo: ILoginDTO = {
        email: "",
        password: ""
    };

    private loginWasOk: boolean | null = null;

    private registrationWasOk: boolean | null = null;

    registerOnClick(): void {
        if (
            this.registerInfo.email.length > 0 &&
            this.registerInfo.password.length > 0 &&
            this.registerInfo.firstName.length > 0 &&
            this.registerInfo.lastName.length > 0
        ) {
            store
                .dispatch("register", this.registerInfo)
                .then((isRegistered: boolean) => {
                    if (isRegistered) {
                        this.registrationWasOk = true;
                        this.loginInfo.email = this.registerInfo.email;
                        this.loginInfo.password = this.registerInfo.password;
                        store
                            .dispatch("authenticateUser", this.loginInfo)
                            .then((isLoggedIn: boolean) => {
                                if (isLoggedIn) {
                                    if (store.state.jwt) {
                                        const decoded = JwtDecode(
                                            store.state.jwt
                                        ) as Record<string, string>;
                                        this.userId =
                                            decoded[
                                                "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                                            ];
                                    }
                                    router.push("/");
                                } else {
                                    this.loginWasOk = false;
                                }
                            });
                    } else {
                        this.registrationWasOk = false;
                    }
                });
        }
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        console.log("mounted");
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
