<template>
    <div>
        <header>
            <nav
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
            >
                <div class="container">
                    <router-link to="/" class="navbar-brand">Home</router-link>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <Identity />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <router-link to="/" class="nav-link text-dark">Home</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/subject" class="nav-link text-dark">Subject</router-link>
                            </li>
                            <li class="nav-item" v-if="isAuthenticated">
                                <router-link
                                    to="/mysubjects"
                                    class="nav-link text-dark"
                                >My subjects</router-link>
                            </li>
                            <li class="nav-item" v-if="isAuthenticated">
                                <router-link to="/mymark" class="nav-link text-dark">My marks</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                <router-view />
            </main>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Identity from "./components/Identity.vue";
import store from "./store";
import JwtDecode from 'jwt-decode';
import { IProfile } from './domain/IProfile';

@Component({
    components: {
        Identity
    }
})
export default class App extends Vue {
    private userId = "";
    private student = false;
    private teacher = false;

    get isAuthenticated(): boolean {
        return store.getters.isAuthenticated;
    }

    get initialProfiles(): IProfile[] {
        return store.state.profiles
    }

    get profiles(): IProfile[] {
        let profs = this.initialProfiles
        profs = profs.filter(profile => { return profile.appUserId === this.userId })
        return profs
    }

    changeBools() {
        this.student = this.profiles[0].role === "student"
        this.teacher = this.profiles[0].role === "teacher"
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    async mounted(): Promise<void> {
        console.log("mounted");
        if (store.state.jwt) {
            const decoded = await JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
        }
        await store.dispatch("getProfiles")
        await this.changeBools
        console.log("ttteeettt " + this.userId)
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
