<template>
    <div>
        <div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button
                                class="btn btn-link collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseZero"
                                aria-expanded="false"
                                aria-controls="collapseZero"
                            >Students</button>
                        </h2>
                    </div>
                    <div
                        id="collapseZero"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordionExample"
                    >
                        <div class="card-body">
                            <div
                                v-for="userName in userNames"
                                :key="userName"
                                class="custom-control custom-checkbox row"
                            >
                                <input
                                    :value="userName"
                                    v-model="studentsToSearch"
                                    type="checkbox"
                                    class="custom-control-input"
                                    :id="userName"
                                    checked
                                />
                                <label class="custom-control-label" :for="userName">{{userName}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample"></div>
        <div class="accordion" id="accordionExample"></div>
        Subject: {{subject.subjectName}}
        <div class="row">
            <div v-for="profile in profiles" :key="profile.id">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Participant name: {{profile.lastName}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Role: {{profile.role}}</h6>
                        <div v-for="userSubject in userSubjects" :key="userSubject.id">
                            <div v-if="userSubject.profileId === profile.id">
                                <p class="card-text">Accepted: {{userSubject.accepted}}</p>
                                <div v-if="userSubject.accepted">
                                    <a
                                        v-bind:href="linkDetails + userSubject.id"
                                        style="margin: 5px"
                                        class="btn btn-primary"
                                    >Mark</a>
                                    <a
                                        v-bind:href="marksLink + userSubject.id"
                                        style="margin: 5px"
                                        class="btn btn-primary"
                                    >Participant grades</a>
                                    <p>____________________________________</p>
                                </div>
                            </div>
                        </div>
                        <button @click="accept(profile.id ,$event)" class="card-link">Accept/Reject</button>
                        <button @click="remove(profile.id ,$event)" class="card-link">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import JwtDecode from "jwt-decode";
import store from "../../store";
import { ISubjects } from "@/domain/ISubjects";
import { IProfile } from "@/domain/IProfile";
import { SubjectApi } from "@/services/SubjectApi";
import { IUserSubjectDTO } from "@/types/IUserSubjectDTO";
import { uuid } from "vue-uuid";
import { IUserSubject } from "@/domain/IUserSubject";

@Component
export default class SubjectDetails extends Vue {
    private user = "";
    private userId = "";
    private admin = false;
    private student = false;
    private teacher = false;
    private acceptedParticipants = 0;
    private studentsToSearch: Array<string> = [];

    get marksLink(): string {
        return "/#/mark/subjectmark/";
    }

    get linkDetails(): string {
        return "/#/mark/create/";
    }

    get subject(): ISubjects {
        return store.state.subject;
    }

    get profiles(): IProfile[] {
        let profs = store.state.subject.profiles
        if (this.studentsToSearch.length !== 0) {
            profs = profs.filter(prof => this.studentsToSearch.includes(prof.lastName))
        }
        return profs;
    }

    get initialUserSubjects(): IUserSubject[] {
        return store.state.userSubjects;
    }

    get userSubjects(): IUserSubject[] {
        const alUsSubjs: IUserSubject[] = this.initialUserSubjects;
        return alUsSubjs.filter((userSubject) => {
            return userSubject.subjectId.includes(this.subject.id);
        });
    }

    get userNames(): string[] {
        const userNames: string[] = [];
        const grades = this.subject.profiles;
        for (const grade of grades) {
            if (!userNames.includes(grade.lastName)) {
                userNames.push(grade.lastName);
            }
        }
        return userNames;
    }

    async accept(id: string): Promise<void> {
        console.log("accept " + id);
        let accept: boolean;
        if (
            this.userSubjects.filter((userSubject) => {
                return userSubject.profileId.includes(id);
            })[0].accepted
        ) {
            accept = false;
        } else {
            accept = true;
        }
        const userSubject: IUserSubjectDTO = {
            profileId: id,
            subjectId: this.subject.id,
            id: this.userSubjects.filter((userSubject) => {
                return userSubject.profileId.includes(id);
            })[0].id,
            accepted: accept
        };
        console.log(JSON.stringify(userSubject));
        await store.dispatch("updateUserSubject", userSubject);
    }

    async remove(id: string): Promise<void> {
        console.log("remove " + id);
        await store.dispatch(
            "deleteUserSubject",
            this.userSubjects.filter((userSubject) => {
                return userSubject.profileId.includes(id);
            })[0].id
        );
        await store.dispatch("getOneSubject", this.id);
    }

    mark(id: string): void {
        console.log("mark " + id);
    }

    @Prop()
    private id!: string;

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    async beforeMount(): Promise<void> {
        console.log("beforeMount");
        if (store.state.jwt) {
            const decoded = await JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.user =
                decoded[
                    "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                ];
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
            console.log("ch4to " + this.userSubjects.length);
            if (this.user === undefined) {
                this.user = "";
            }
            this.admin = this.user.includes("admin");
        }
    }

    async mounted(): Promise<void> {
        console.log("mounted");
        await store.dispatch("getProfiles");
        await store.dispatch("getSubjects");
        await store.dispatch("getOneSubject", this.id);
        await store.dispatch("getUserSubjects");
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
