<template>
    <div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >Semester filter</button>
                    </h2>
                </div>
                <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <div
                            v-for="semester in semesters"
                            :key="semester.id"
                            class="custom-control custom-checkbox row"
                        >
                            <input
                                :value="semester.id"
                                v-model="semesterToSearch"
                                type="checkbox"
                                class="custom-control-input"
                                :id="semester.id"
                                checked
                            />
                            <label
                                class="custom-control-label"
                                :for="semester.id"
                            >{{semester.semesterName}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample"></div>
        <div class="row p-3">
            <input
                v-model="searchName"
                class="form-control mr-sm-2 col-md-4"
                type="search"
                aria-label="Search"
            />
            <div class="my-2 my-sm-0">Search by name</div>
        </div>
        <div class="row p-3">
            <input
                v-model="searchCode"
                class="form-control mr-sm-2 col-md-4"
                type="search"
                aria-label="Search"
            />
            <div class="my-2 my-sm-0">Search by code</div>
        </div>
        <div>
            <div v-if="teacher === true">
                <a
                    style="margin: 5px"
                    v-bind:href="linkMarks + profiles.lastName"
                    class="btn btn-primary"
                >Watch all marks</a>
            </div>
        </div>
        <div class="row">
            <div v-for="subject in subjects" :key="subject.id">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Subject name: {{subject.subjectName}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Code: {{subject.subjectCode}}</h6>
                        <p class="card-text">Semester: {{subject.subjectSemester}}</p>
                        <p class="card-text">Participants: {{subject.profiles.length}}</p>
                        <p
                            class="card-text"
                        >Fails: {{subject.subjectGrades.filter(grade => grade.possibleGrade.includes("0")).length}}</p>
                        <div v-if="student === true || teacher === true">
                            <button @click="apply(subject.id ,$event)" class="card-link">Apply</button>
                        </div>
                        <div v-if="teacher === true">
                            <a
                                style="margin: 5px"
                                v-bind:href="linkDetails + subject.id"
                                class="btn btn-primary"
                            >Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import JwtDecode from "jwt-decode";
import store from "../../store";
import { ISubjects } from "@/domain/ISubjects";
import { IProfile } from "@/domain/IProfile";
import { SubjectApi } from "@/services/SubjectApi";
import { IUserSubjectDTO } from "@/types/IUserSubjectDTO";
import { uuid } from "vue-uuid";
import { ISemesters } from "@/domain/ISemesters";

@Component
export default class SubjectIndex extends Vue {
    private user = "";
    private userId = "";
    private searchName = "";
    private searchCode = "";
    private admin = false;
    private student = false;
    private teacher = false;
    private acceptedParticipants = 0;
    private avarageGrades: any = [];
    private semesterToSearch: Array<string> = [];

    get subjects(): ISubjects[] {
        let subj = store.state.subjects;
        subj = subj.filter((subj) => {
            return subj.subjectName
                .toLowerCase()
                .includes(this.searchName.toLowerCase());
        });
        subj = subj.filter((subj) => {
            return subj.subjectCode
                .toLowerCase()
                .includes(this.searchCode.toLowerCase());
        });
        if (this.semesterToSearch.length !== 0) {
            subj = subj.filter((sub) => {
                return this.semesterToSearch.includes(sub.subjectSemesterId);
            });
        }
        return subj;
    }

    get initialProfiles(): IProfile[] {
        return store.state.profiles;
    }

    get semesters(): ISemesters[] {
        return store.state.semesters;
    }

    get profiles(): IProfile[] {
        let profs = this.initialProfiles;
        profs = profs.filter((profile) => {
            return profile.appUserId === this.userId;
        });
        return profs;
    }

    get linkDetails(): string {
        return "/#/subject/details/";
    }

    get linkMarks(): string {
        return "/#/mymark/";
    }

    get linkSomeId(): string {
        return "whatever";
    }

    get isAuthenticated(): boolean {
        return store.getters.isAuthenticated;
    }

    count(): void {
        for (const subject of this.subjects) {
            const infoset = [];
            let medGrade = 0;
            for (const grade of subject.subjectGrades) {
                medGrade += parseFloat(grade.possibleGrade);
            }
            medGrade =
                Math.round((medGrade / subject.subjectGrades.length) * 100) /
                100;
            infoset.push(subject.id);
            infoset.push(medGrade);
            this.avarageGrades.push(infoset);
        }
    }

    apply(id: string): void {
        if (this.isAuthenticated) {
            const sub = this.subjects.filter((subject) => {
                return subject.id.includes(id);
            });
            console.log(JSON.stringify(sub[0]));
            if (
                sub[0].profiles.filter((profile) => {
                    return profile.id === this.profiles[0].id;
                }).length === 0
            ) {
                console.log("no person here");
                const userSubject: IUserSubjectDTO = {
                    profileId: this.profiles[0].id,
                    subjectId: id,
                    id: uuid.v5(uuid.v1(), uuid.v4()),
                    accepted: this.profiles[0].role === "teacher"
                };
                store.dispatch("createUserSubject", userSubject);
                console.log(userSubject);
            } else {
                console.log("there he is");
            }
            store.dispatch("getUserSubjects");
            store.dispatch("getProfiles");
            store.dispatch("getSubjects");
        }
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.user =
                decoded[
                    "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                ];
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
            console.log("useridishere " + this.userId);
            if (this.user === undefined) {
                this.user = "";
            }
            this.admin = this.user.includes("admin");
        }
    }

    async mounted(): Promise<void> {
        console.log("mounted");
        await store.dispatch("getProfiles");
        if (this.isAuthenticated) {
            this.student = this.profiles[0].role === "student";
            this.teacher = this.profiles[0].role === "teacher";
        }
        await store.dispatch("getSubjects");
        await store.dispatch("getSemesters");
        await this.count();
        console.log(JSON.stringify(this.avarageGrades[0][0]));
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
