<template>
    <div class="row">
        <div v-for="subject in profiles.subjects" :key="subject.id">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Subject name: {{subject.subjectName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Code: {{subject.subjectCode}}</h6>
                    <p class="card-text">Semester: {{subject.subjectSemester}}</p>
                    <p class="card-text">Accepted:<b> {{userSubject.filter(usersub => usersub.subjectId.includes(subject.id))[0].accepted}} </b></p>
                    <div v-if="userSubject.filter(usersub => usersub.subjectId.includes(subject.id))[0].accepted">
                    <a v-bind:href="marksLink + userSubject.filter(usersub => usersub.subjectId.includes(subject.id))[0].id" style="margin: 5px"  class="btn btn-primary">
                    My Grades</a>
                    </div>
                    <div v-if="student === true || teacher === true">
                        <div v-if="teacher === true">
                            <a
                                style="margin: 5px"
                                v-bind:href="linkDetails + subject.id"
                                class="btn btn-primary"
                            >Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import JwtDecode from "jwt-decode";
import store from "../../store";
import { ISubjects } from "@/domain/ISubjects";
import { IProfile } from "@/domain/IProfile";
import { SubjectApi } from "@/services/SubjectApi";
import { IUserSubjectDTO } from "@/types/IUserSubjectDTO";
import { uuid } from "vue-uuid";
import { IUserSubject } from "@/domain/IUserSubject";

@Component
export default class MySubjects extends Vue {
    private user = "";
    private userId = "";
    private admin = false;
    private student = false;
    private teacher = false;
    private acceptedParticipants = 0;
    private avarageGrades: any = [];

    get marksLink(): string {
        return "/#/mark/subjectmark/";
    }

    get subjects(): ISubjects[] {
        return store.state.subjects;
    }

    get mySubjects(): ISubjects[] {
        return this.subjects.filter((subject) =>
            subject.profiles.filter((profile) =>
                profile.appUserId.includes(this.userId)
            )
        );
    }

    get initialProfiles(): IProfile[] {
        return store.state.profiles;
    }

    get profiles(): IProfile {
        let profs = this.initialProfiles;
        profs = profs.filter((profile) => {
            return profile.appUserId === this.userId;
        });
        return profs[0];
    }

    get linkDetails(): string {
        return "/#/subject/details/";
    }

    get userSubject(): IUserSubject[] {
        let userSubjects = store.state.userSubjects;
        userSubjects = userSubjects.filter(userSubject => userSubject.profileId.includes(this.profiles.id))
        return userSubjects
    }

    count(): void {
        for (const subject of this.subjects) {
            const infoset = [];
            let medGrade = 0;
            for (const grade of subject.subjectGrades) {
                medGrade += parseFloat(grade.possibleGrade);
            }
            medGrade =
                Math.round((medGrade / subject.subjectGrades.length) * 100) /
                100;
            infoset.push(subject.id);
            infoset.push(medGrade);
            this.avarageGrades.push(infoset);
        }
    }

    apply(id: string): void {
        const sub = this.subjects.filter((subject) => {
            return subject.id.includes(id);
        });
        console.log(JSON.stringify(sub[0]));
        if (
            sub[0].profiles.filter((profile) => {
                return profile.id === this.profiles.id;
            }).length === 0
        ) {
            console.log("no person here");
            const userSubject: IUserSubjectDTO = {
                profileId: this.profiles.id,
                subjectId: id,
                id: uuid.v5(uuid.v1(), uuid.v4()),
                accepted: this.profiles.role === "teacher"
            };
            store.dispatch("createUserSubject", userSubject);
            console.log(userSubject);
        } else {
            console.log("there he is");
        }
        store.dispatch("getUserSubjects");
        store.dispatch("getProfiles");
        store.dispatch("getSubjects");
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    async beforeMount(): Promise<void> {
        console.log("beforeMount");
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.user =
                decoded[
                    "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                ];
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
            console.log("useridishere " + this.userId);
            if (this.user === undefined) {
                this.user = "";
            }
            this.admin = this.user.includes("admin");
        }
    }

    async mounted(): Promise<void> {
        console.log("mounted");
        await store.dispatch("getProfiles");
        this.student = this.profiles.role === "student";
        this.teacher = this.profiles.role === "teacher";
        await store.dispatch("getSubjects");
        await store.dispatch("getUserSubjects");
        await this.count();
        console.log(JSON.stringify(this.avarageGrades[0][0]));
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
